# CVS Web Scraper
Author: Stephen Kita

Date: 21 July 2020

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
import time
import random

## Initialize Global Variables

In [ ]:
my_header = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36'}
base_url = 'https://www.cvs.com/store-locator/cvs-pharmacy-locations/'
df_cvs = pd.DataFrame(columns=('state', 'town', 'count'))
states = ["Arkansas", "Arizona", "California", "Colorado", "Connecticut", 
          "Delaware", "District-of-Columbia", "Florida", "Georgia", "Hawaii", 
          "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", 
          "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", 
          "Mississippi", "Montana", "Nebraska", "Nevada", "New-Hampshire", "New-Jersey", 
          "New-Mexico", "New-York", "North-Carolina", "North-Dakota", "Ohio", "Oklahoma", 
          "Oregon", "Pennsylvania", "Puerto-Rico", "Rhode-Island", "South-Carolina", 
          "South-Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Vermont",
          "Washington", "West-Virginia", "Wisconsin", "Wyoming"]

## Scrape Website and Save to CSV

In [9]:
for state in states:
    url = base_url + state
    response = requests.get(url, headers=my_header)
    
    if response.ok:
        print(f'Scraping {state}...')
        text = BeautifulSoup(response.text, 'html.parser')
        text_towns = text.find('div', 'states').select('li')
        for town_seq in text_towns:
            town_seq = town_seq.get_text().strip()
            town = ' '.join(re.findall('\w*[a-z]', town_seq))
            count = int(re.findall('\w*\d+', town_seq)[0])
            df_cvs = df_cvs.append({'state': state,'town': town,'count': count}, ignore_index=True)
        print('... complete')
    else:
        print('#'*50)
        print(f'Failed to scrape {state}')
        print('#'*50)

    time.sleep(random.randint(5,10))

df_cvs.to_csv('out.csv', index=False)
print('Writing to .csv complete!')

Scraping Puerto-Rico...
['Puerto-Rico' 'Arecibo' 1]
['Puerto-Rico' 'Bayamon' 4]
['Puerto-Rico' 'Caguas' 1]
['Puerto-Rico' 'Carolina' 3]
['Puerto-Rico' 'Condado' 1]
['Puerto-Rico' 'Dorado' 1]
['Puerto-Rico' 'Fajardo' 1]
['Puerto-Rico' 'Guaynabo' 2]
['Puerto-Rico' 'Manati' 1]
['Puerto-Rico' 'Ponce' 1]
['Puerto-Rico' 'San Juan' 3]
['Puerto-Rico' 'Toa Baja' 1]
['Puerto-Rico' 'Vega Alta' 1]
['Puerto-Rico' 'Vega Baja' 1]
... complete
Writing to CSV...
... complete

## Load CSV and Perform EDA

In [7]:
import pandas as pd
df_cvs = pd.read_csv('csv-locs.csv')
df_cvs.head()

     state         town  count
0   Alaska    Anchorage      2
1   Alaska      Wasilla      2
2  Alabama    Alabaster      2
3  Alabama  Albertville      1
4  Alabama   Aliceville      1

In [10]:
df_cvs.groupby('state').agg({'count':['sum','mean','std']})

                     count
                       sum       mean        std
state
Alabama                180   1.800000   2.169578
Alaska                   4   2.000000   0.000000
Arizona                197   4.104167   7.594061
Arkansas                23   1.437500   0.629153
California            1175   2.952261   4.255118
Colorado                51   1.758621   1.550465
Connecticut            178   1.797980   1.377515
Delaware                20   1.428571   0.937614
District-of-Columbia    64  64.000000        NaN
Florida                874   3.273408   6.658998
Georgia                348   2.335570   3.439851
Hawaii                  71   2.366667   3.828057
Idaho                    3   1.000000   0.000000
Illinois               389   1.852381   4.857010
Indiana                339   2.029940   4.606733
Iowa                    39   2.052632   1.268143
Kansas                  54   2.700000   2.677391
Kentucky                81   1.800000   3.188046
Louisiana              135   2.327586   2.969954
Maine                   25   1.388889   0.777544
Maryland               231   2.081081   3.122165
Massachusetts          416   1.917051   2.154353
Michigan               301   2.213235   2.554323
Minnesota              133   1.705128   1.406007
Mississippi             57   1.425000   0.930605
Missouri               208   2.166667   3.386247
Montana                 16   2.000000   1.772811
Nebraska                30   3.333333   4.472136
Nevada                  99   8.250000  14.753274
New-Hampshire           47   1.468750   0.983226
New-Jersey             348   1.403226   0.718966
New-Mexico              25   2.500000   3.749074
New-York               572   1.952218   4.080244
North-Carolina         369   2.170588   3.690747
North-Dakota             6   1.500000   0.577350
Ohio                   389   1.760181   2.822225
Oklahoma                78   2.785714   3.715405
Oregon                  22   1.571429   1.869360
Pennsylvania           487   1.751799   3.911417
Puerto-Rico             22   1.571429   1.016350
Rhode-Island            66   2.000000   1.677051
South-Carolina         212   2.099010   2.475904
South-Dakota             3   1.500000   0.707107
Tennessee              161   2.064103   2.654767
Texas                  843   3.010714   7.614589
Utah                    29   1.705882   0.985184
Vermont                  9   1.000000   0.000000
Virginia               353   2.801587   3.834621
Washington              45   1.551724   1.502051
West-Virginia           57   1.390244   0.891012
Wisconsin               82   1.744681   1.451657
Wyoming                  2   1.000000   0.000000